<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
</head>
<body>
  {% block content %}
  {% include 'menu.html' %}
{% endblock %}
<div class="body">
  <div class="ticket">
    <i class="fa fa-train" style="margin-left: 40px;"></i>
    <i class="fa fa-map-marker" style="float:right;margin-right: 37px;"></i>
    <p></p>
    <b style="margin-left: 5px;">УлаанБаатар</b>
    <b style="margin-left: 25px;">ЗамынҮүд</b>
    
    <button type="button">Захиалах</button>
    <b>2023/04/11 -</b>
    <b>2023/04/12</b>
  </div>
  <div class="ticket">
    <i class="fa fa-train" style="margin-left: 40px;"></i>
    <i class="fa fa-map-marker" style="float:right;margin-right: 37px;"></i>
    <p></p>
    <b style="margin-left: 5px;">УлаанБаатар</b>
    <b style="margin-left: 25px;">ЗамынҮүд</b>
    
    <button type="button">Захиалах</button>
    <b>2023/04/11 -</b>
    <b>2023/04/12</b>
  </div>
  <div class="ticket">
    <i class="fa fa-train" style="margin-left: 40px;"></i>
    <i class="fa fa-map-marker" style="float:right;margin-right: 37px;"></i>
    <p></p>
    <b style="margin-left: 5px;">УлаанБаатар</b>
    <b style="margin-left: 25px;">ЗамынҮүд</b>
    
    <button type="button">Захиалах</button>
    <b>2023/04/11 -</b>
    <b>2023/04/12</b>
  </div>
</div>
<div class="footer">
  <div class="map">
    <i class="fa fa-map-marker"></i> Эрээн - Замын үүд
  </div>
  <div class="map">
    <i class="fa fa-map-marker"></i> Эрээн - Замын үүд
  </div>
  <div class="map">
    <i class="fa fa-map-marker"></i> Эрээн - Замын үүд
  </div>
  <div class="map">
    <i class="fa fa-map-marker"></i> Эрээн - Замын үүд
  </div>
</div>
</body>
</html>