<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-content">
                <form method="post">
            {% csrf_token %}
        <div class="login-wrap">
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Нэвтрэх</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Бүртгэл</label>
                <div class="login-form">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="uname" class="label">Нэвтрэх нэр</label>
                            <input id="uname" name="uname" type="text" class="input">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Нууц үг</label>
                            <input id="pass" type="password" class="input" data-type="password" name="pass">
                        </div>
                        {% if messages %}
                        <di class="messages" style="color:yellow;padding: 5px;margin-bottom: 30px;">
                            {% for message in messages %}
                                <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
                            {% endfor %}
                        {% endif %}
                        </di>
                        <div class="group" style="margin-top: 15px;">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Намайг сана</label>
                        </div>
                        <div class="group">
                            <button type="submit" class="button">Нэвтрэх</button>
                        </div>

                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <a href="{% url 'forget' %}">Нууц үг мартсан?</a>
                        </div>
                    </div>
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Овог</label>
                            <input id="user" type="text" class="input" name="user">
                        </div>
                        <div class="group">
                            <label for="nick" class="label">Нэр</label>
                            <input id="nick" type="text" class="input" name="nick">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Цахим хаяг оруулах</label>
                            <input id="mail" type="mail" class="input" name="mail">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Бүртгүүлэх">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <label for="tab-1">Хэрэглэгч мөн эсэх?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>

</body>
<script src="{% static 'style.js' %}"></script>
</html>