{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<div class="main-content">
  <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Бүртгэл</label>
{% block content %}
  <h1>Бүртгүүлэх хэсэг</h1>
  <form method="post">
    {% csrf_token %}
    <!-- <label for="id">ID:</label>
    <p></p>
    <input type="number" name="id" id="id"><br> -->
    <p></p>
    <label for="username">Нэр:</label>
    <p></p>
    <input type="text" name="username" id="username" placeholder="нэрээ оруулна уу"><br>
    <p></p>
    <label for="nick">nick:</label>
    <p></p>
    <input type="text" name="nick" id="nick" placeholder="нэрээ оруулна уу"><br>
    <p></p>
    <label for="mail">mail:</label>
    <p></p>
    <input type="text" name="mail" id="mail" placeholder="нэрээ оруулна уу"><br>
    <p></p>
    <label for="password">Нууц үг:</label>
    <p></p>
    <input type="text" name="password" id="password" placeholder="нууц үгээ оруулна уу"><br>
    <p></p>
    {% if messages %}
    <di class="messages">
        {% for message in messages %}
            <strong{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</strong>
        {% endfor %}
    {% endif %}
    <p></p>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
</div>
