<nav>
    <ul>
        <a href="{% url 'dashboard' %}"><li><i class="fa fa-home"></i> Hүүр хуудас</li></a>
        <a href="#"><li><i class="fa fa-book"></i> Тасалбар захиалга</li></a>
        <a href="https://www.zms.mn/"><li><i class="fa fa-comment"></i> Мэдээ</li></a>
        <a href="#"><li><i class="fa fa-user"></i> Миний захиалга</li></a>
        <a href="{% url 'contact' %}"><li><i class="fa fa-phone"></i> Бидэнтэй холбогдох</li></a>
        <a href="/"><li style="float:right;margin-right: 60px;"><i class="fa fa-sign-out"></i> Гарах</li></a>
    </ul>
    </nav>
    